a {
    color: #811217;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: #470610;
}

.bg-primary {
    background-color: #470610!important;
}
